.App {
  text-align: center;
}
body{
  margin:40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
Nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
Nav a{
  display: inline-block;
  color: #333333;
  text-decoration: none;
}
Nav ul{
  list-style-type: none;
}
Nav li{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
button {
  background-color: #F4CE14;
  border: 1px solid #F4CE14;
  border-radius: 10px;
  padding: 10px 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #E0B400;
  color: #fff;
}
.header h1{
  color: #F4CE14;
  font-size:xx-large;
  font-family: Karla;
}
.header h2{
  color: white;
  font-family: Karla;
  font-size: x-large;
}
.header{
  background-color: #495E57;
}
.header p{
  max-width: 300px;
}

.precio{
  color: #EE9972;
}
main > button {
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: #F4CE14;
  border-radius: 5px;
}
.columns-container {
  display: flex;
}

.highlight {
  flex: 1;
  margin-right: 50px; /* Ajusta según sea necesario */
  background-color: #EDEFEE;
}

.highlights {
  padding: 10px;
  border-radius: 10px;
}
